* {
	color: white;
	text-shadow: 2px 2px black;
}

.logo {
	position: relative;
	left: 40%;
}
.titulo {
	font-size: 40px;
	font-family: "Script";
	color: #5c9ba6;
}

#equuz, #emotion{
	font-family: arial;
	font-size: 80px;
	text-align: center;
}
#equuz {
	color: #779B02;
}
#emotion {
	color: #225589;
}

.nav:link, .nav:visited {
	padding: 15px 32px;
	width: 150px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	font-family: arial;
	margin: 6px;
	margin-bottom: 10px;
	/*border: 3px solid #003300;*/
	background-color: #331a00;
	text-decoration: none;
	color: #cc9966;
}

.nav:hover, .nav:active {
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	background-color: #003300;
	border-color: #225589;
	color: white;
}

li a:link, li a:visited {
	text-decoration: none;

}

.link {
	text-decoration: none;
}
pre {
	font-family: arial;
}

section {
	margin: 50px;
}
.taller {
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	font-family: "Comic Sans MS";
	font-style: italic;
}

section span {
	font-weight: bold;
}
li a:hover, li a:active, .link:hover, .link:active {
	color: green;
}
.lista {
	font-family: "Comic Sans MS";
	font-size: 18px;
}

body {
		background-image: url('Imagenes/background12.jpg');
		/*background: radial-gradient(red, yellow, ); *//* Standard syntax */
		background-attachment: fixed;
		background-repeat: no-repeat;
}

#slogan {
		font-family: "Bradley Hand ITC";
}

footer {
	padding: 6px;
	border: 20px;
	border-color: brown;
	clear: both;
	font-family: arial;
	background-image: url(Imagenes/footer2.jpg);
	border: 5px solid #492312;
}

#backtotop:link, #backtotop:visited {
	float: left;
	position: relative;
	left: 45%;
	clear: both;
	border-radius: 8px;
	margin-bottom: 20px;
	text-align: center;
	padding: 8px 8px;
	display: inline-block;
	font-family: arial;
	background-color: #330000;
	color: #cc9966;
	text-decoration: none;
}

#backtotop:hover, #backtotop:active {
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 3px 4px 5px black;
	background-color: #333300;
	color: white;
}

.facebook:link, .facebook:visited {
	color: white;
	font-family: arial;
	text-decoration: none;
}

.facebook:hover, .facebook:active {
	color: blue;
}

p {
	font-family: "Comic Sans MS";
	font-size: 20px;
	/*text-shadow: 2px 2px black;*/
}
h2 {
	font-family: "Comic Sans MS";
	font-size: 30px;
	color: #333300;
}

li {
	font-family: arial;
}
h1 {
	text-align: center;
}	
p > span {
	color: #5b4012;
}   

/***************MEDIA QUERIES***************/

@media (min-width: 100px) and (max-width: 1199px){
	.nav:link, .nav:visited {
		float: top;
		width: 100%;
		margin: 0;
		cursor: pointer;
		display: inline-block;
		font-family: arial;
		display: block;
		/*border: 3px solid #003300;*/
		background-color: #331a00;
		text-decoration: none;
		color: #cc9966;
	}

	.nav:hover, .nav:active {
	z-indexwebkit-transition-duration: 0.4s; /* Safari */
    	transition-duration: 0.4s;
		background-color: #003300;
		border-color: #225589;
		color: white;
	}
}