.titulo {
	font-size: 40px;
	font-family: "Comic Sans MS";
}

#equuz, #emotion{
	font-family: arial;
	font-size: 80px;
	text-align: center;
}
#equuz {
	color: #779B02;
}
#emotion {
	color: #225589;
}

.nav:link, .nav:visited {
	border-radius: 8px;
	padding: 10px 10px;
	font-family: arial;
	color: black;
	margin: 6px;
	border: 3px solid #225589;
	background-color: lightgrey;
	text-decoration: none;
}

.nav:hover, .nav:active {
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	background-color: #779B02;
	border-color: #225589;
	color: white;
}

li a:link, li a:visited {
	text-decoration: none;

}

.link {
	text-decoration: none;
}
pre {
	font-family: arial;
}

.taller {
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	font-family: "Comic Sans MS";
	font-style: italic;
}

section  span {
	font-weight: bold;
}
li a:hover, li a:active, .link:hover, .link:active {
	color: green;
}
.lista {
	font-family: "Comic Sans MS";
	font-size: 18px;
}
#logo {
	
}

body {
		background-image: url("Imagenes/pattern.jpg");
		background-attachment: repeat;
}

#slogan {
		font-family: "Bradley Hand ITC";
}

footer {
	padding: 6px;
	border-radius: 25px;
	font-family: arial;
	border: 5px solid #225589;
	background: linear-gradient(#779B02, lightgreen); /* Standard syntax */
}

#backtotop:link, #backtotop:visited {
	padding: 5px 5px;
	border-radius: 25px;
	display: inline-block;
	font-family: arial;
	background-color: lightgrey;
	color: black;
	border: 5px solid #225589;
	text-decoration: none;
}

#backtotop:hover, #backtotop:active {
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 5px 8px 10px grey;
	background-color: #779B02;
	color: white;
	border-color: #225589;
}

.facebook:link, .facebook:visited {
	color: white;
	font-family: arial;
	text-decoration: none;
}

.facebook:hover, .facebook:active {
	color: blue;
}

p {
	font-family: "Comic Sans MS";
	font-size: 18px;
}
h2 {
	font-family: "Comic Sans MS";
	font-size: 30px;
}

li {
	font-family: arial;
}
h1 {
	text-align: center;
}	
p > span {
	color: brown;
}   

