* {
	color: white;
}
 #header-nav {
 	background-color: #57bc90;
 	border-radius: 0;
 	border: 0;
 }
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.nav > li > a {
	padding: 5px;
}

#logo-img {
	width: 250px;
	height: 125px;
	margin-bottom: 10px;
}
.collapsable-nav{
	text-shadow: none;
}
#nav-list a:link, #nav-list a:visited {
	font-size: 17px;
	color: white;
	text-shadow: none;
}
#nav-list a:hover, #nav-list a:active {
	background-color: #015249;
}
#nav-list {
	margin-top: 15px;
	text-align: center;
}
#phone {
	text-align: right;
}
#phone a:hover, #phone a:active {
	background-color: transparent;
}
#brand1, #brand2 {
	font-size: 30px;
	font-family: arial;
	font-weight: bold;
	text-shadow: none;
	display: inline;
}
#brand1 {
	color: #779B02;
}
#brand2{
	color: #225589;
}
#slogan {
	position: relative;
	top: 25px;
	left: 40px;
	font-size: 15px;
	font-family: "Script";
	text-shadow: none;
	color: white;
}
.avbar-toggle collapsed {
	display: inline;
	border-radius: 0;
	border: 0;
}

.titulo {
	font-size: 40px;
	font-family: "Script";
	color: #5c9ba6;
}

#equuz, #emotion{
	font-family: arial;
	font-size: 80px;
	text-align: center;
}
#equuz {
	color: #779B02;
}
#emotion {
	color: #225589;
}

/*.nav:link, .nav:visited {
	padding: 15px 32px;
	width: 150px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	font-family: arial;
	margin: 6px;
	margin-bottom: 10px;
	/*border: 3px solid #003300;*
	background-color: #331a00;
	text-decoration: none;
	color: #cc9966;
}

.nav:hover, .nav:active {
	-webkit-transition-duration: 0.4s; /* Safari *
    transition-duration: 0.4s;
	background-color: #003300;
	border-color: #225589;
	color: white;
}*/

li a:link, li a:visited {
	text-decoration: none;

}

.link {
	text-decoration: none;
}
pre {
	font-family: arial;
}

section {
	margin: 50px;
}
.taller {
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	font-family: "Comic Sans MS";
	font-style: italic;
}

section span {
	font-weight: bold;
}
li a:hover, li a:active, .link:hover, .link:active {
	color: green;
}
.lista {
	font-family: "Comic Sans MS";
	font-size: 18px;
}

body {
		background-color: #015249;
		text-shadow: 2px 2px 2px black;
}

footer {
	padding: 6px;
	border: 20px;
	border-color: brown;
	clear: both;
	font-family: arial;
	/*background-image: url(Imagenes/footer2.jpg);*/
	background-color: #57bc90;
}

#backtotop:link, #backtotop:visited {
	text-shadow: none;
	float: left;
	position: relative;
	left: 45%;
	clear: both;
	border-radius: 8px;
	margin-bottom: 20px;
	text-align: center;
	padding: 8px 8px;
	display: inline-block;
	font-family: arial;
	background-color: #a5a5af;
	color: #015249;
	text-decoration: none;
}

#backtotop:hover, #backtotop:active {
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 3px 4px 5px black;
	background-color:  #57bc90;
	color: white;
}

.facebook:link, .facebook:visited {
	color: white;
	font-family: arial;
	text-decoration: none;
}

.facebook:hover, .facebook:active {
	background-color: #015249;
}

p {
	font-family: "Comic Sans MS";
	font-size: 20px;
	/*text-shadow: 2px 2px black;*/
}
h2 {
	font-family: "Comic Sans MS";
	font-size: 30px;
	color: #333300;
}

li {
	font-family: arial;
}
h1 {
	text-align: center;
}	
p > span {
	color: #5b4012;
}   

/***************MEDIA QUERIES***************/
/***************Large devices***************/
@media (min-width: 1200px) {

}
/***************Medium devices***************/
@media (min-width: 992px) and (max-width: 1199px){
	#logo-img {
		width: 20vw;
		height: 10vw;
	}
}
/***************Small devices***************/
@media (min-width: 768px) and (max-width: 991px){

}
/***************Extra small devices***************/
@media (max-width: 767px){
	.navbar-brand {
		font-size: 5vw;
	}
	#slogan{
		margin-top: 30px;
		position: static;
		float: left;
		font-size: 2.5vw;
	}
	#equuz, #emotion {
		font-size: 4em;
	}
	button.navbar-toggle {
		float: right;
	}
	a .glyphicon {
	margin-right: 5px;
	}
}

/*@media (min-width: 100px) and (max-width: 1199px){
	.nav:link, .nav:visited {
		float: top;
		width: 100%;
		margin: 0;
		cursor: pointer;
		display: inline-block;
		font-family: arial;
		display: block;
		/*border: 3px solid #003300;*
		background-color: #331a00;
		text-decoration: none;
		color: #cc9966;
	}

	.nav:hover, .nav:active {
	z-indexwebkit-transition-duration: 0.4s; /* Safari *
    	transition-duration: 0.4s;
		background-color: #003300;
		border-color: #225589;
		color: white;
	}
}
*/